# Firebase Admin SDK (Required for Custom Tokens)
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

# Kakao OAuth
KAKAO_CLIENT_ID=

# Naver OAuth
NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=
